@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: #162c5e;
  --color-secondary: #00529c;
  --color-highlight: #09efff;
  --color-accent: #ffaa00;
  --color-accent-light: #c0e3f6;
  --color-stroke: #4c4c4c;
}

:root {
  --background: #ffffff;
  --foreground: #4f5d64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
